<%- model_class = @customer.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p>
  <strong><%= model_class.human_attribute_name(:name) %>:</strong><br>
  <%= @customer.name %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:email) %>:</strong><br>
  <%= @customer.email %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:ip_address) %>:</strong><br>
  <%= @customer.ip_address %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:browser) %>:</strong><br>
  <%= @customer.browser %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:browser_version) %>:</strong><br>
  <%= @customer.browser_version %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:engine) %>:</strong><br>
  <%= @customer.engine %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:engine_version) %>:</strong><br>
  <%= @customer.engine_version %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:operating_system) %>:</strong><br>
  <%= @customer.operating_system %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:cookies) %>:</strong><br>
  <ul>
    <% @customer.cookies.split(';').each do |c| %>
      <% k, v = c.split ':' %>
      <li>
        <span class="cookie_name"><%= k %></span><br/>
        <span class="cookie_value"><%= v %></span>
    <% end %>
  </ul>
</p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              customers_path, :class => 'btn'  %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              customer_path(@customer),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
