<!DOCTYPE html>
<html>
  <head>
    <title>Music Glue Customer Diagnostics</title>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= yield(:head) %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <% if current_user %>
            <%= link_to "Music Glue Customer Diagnostics", customers_path, :class => 'brand' %>
          <% else %>
            <%= link_to "Music Glue Customer Diagnostics", root_path, :class => 'brand' %>
          <% end %>
          <div class="nav-collapse">
            <ul class="nav pull-right">
              <% if current_user %>
                <li>
                  <%= link_to "log out", logout_path %>
                </li>
              <% else %>
                <li>
                  <%= link_to "log in", login_path %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span9">
          <%= content_tag :h1, yield(:title) if show_title? %>
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, :id => "flash_#{name}", :class => 'alert' %>
          <% end %>
          <%= yield %>
        </div>
        <div class="span3">
          <% if current_user %>
            <p>Logged in as <%= current_user.email %>.</p>
            <p><%= link_to "Edit my profile", edit_current_user_path %></p>
          <% else %>
            <h2>About</h2>
            <p>
                By submitting the below form, Music Glue will recieve information about environment to help us with your query. The data we will collect shall be:
            </p>
            <ul>
              <li>IP Address</li>
              <li>Browser</li>
              <li>Operating system</li>
              <li>Cookies (Music Glue sites only)</li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
